# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
*.log
logs/
uploads/
coverage/

# Build artifacts
dist/
build/

# IDE-specific files (e.g., VS Code)
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db